h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #f2f2f2;
    display: inline-block;

}
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(173, 173, 173);
    display: inline-block;
}
.heading {
    display: inline-block;
    background-color: rgb(46, 50, 66);
    padding:10px;
    font-size: 20;
    size: 70px;
    padding-top: px;
    padding-bottom: 40px;
    width:100%;
    height: 40px;
    z-index: 1;
}
.test{
position:fixed;
top:0px;
left:120px;
z-index: 100;
}
.toolbar {
    /*background-color: rgb(46, 50, 66);*/
    padding:20px;
    padding-left: 60px;
    padding-top: 0px;
    z-index: 0;
    width: 100%;
}

.sandbox {
    background-color: rgb(55, 60, 80);
    height: 100%;
    width: 100%;
    margin: 0px;
}
.node {
    position: absolute;
    background-color: #6f717a;
    height: 120px;
    width: 160px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000000;
    user-select: none;
}
.port {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;

    border-style: solid;
    border-color: #33658A
}
.portspan {
    display: inline-block;

}
.portspan#outputs {
    position: relative;
    left: 80%;
}
.sandbox-canvas {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    pointer-events:none;
}
body {
    background-color:rgb(46, 50, 66);
}
/* .toolbar-button{
    background-color: #6f717a;
    font-size: 25;
    padding: 10px;
    color: #b2b2b6;
    border-radius: 10px;
    border: #6f717a
}
*/ 

.tooltip {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top:0px;
    box-sizing: content-box; 
    width:105%;
    height:auto;
    z-index: 100;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    display: inline;
    width: max-content;
}

.nodetext {
    user-select: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.sandbox-canvas {top
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    pointer-events:none;
}

.inline{
    display: inline-block;
    padding-left: 400px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}
.myLife {
    display: none;
    font-family: 'Ubuntu', sans-serif;

    color: #55DDE0;
    
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top:0px;
    box-sizing: content-box; 
    width:105%;
    height:auto;
    z-index: 100;
    border-radius: 20px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    display: inline;
    width: max-content;
    font-family: 'Ubuntu', sans-serif;
    color: #55DDE0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height:auto;
}
.upload {
    background-color: #4CAF50;
    color: #ddd;
}
@import "compass/css3";

.toolbar-button {
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #4e68c7;
  box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891;
  color: white;
  white-space: nowrap;
  padding: 9px 16px;
  position: relative;
  border-radius: 10px;
}

.toolbar-button:hover, .toolbar-button:focus {
  background: #3d57b4;
}

.toolbar-button:active {
  box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891;
  @include transform(translate(3px, 3px));
}

.toolbar-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -5px;
  bottom: -5px;
}
.toolbar-button:active:after {
  top: -3px;
  left: -3px;
  right: -2px;
  bottom: -2px;
}
.upload {
    background-color: #4CAF50;
    color: #f2f2f2;
}
.disabled {
    background-color: #61636b; 
    color: #6f717a
}
.fileupload {
    color: #f2f2f2;
}
.dataset-bar p {
    display:inline-block;
    padding:10px;
}